@font-face {
    font-weight: 400;
    font-family: 'Inter Display';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/inter_display_regular.woff2') format('woff2');
}

@font-face {
    font-weight: 500;
    font-family: 'Inter Display';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/inter_display_medium.woff2') format('woff2');
}

@font-face {
    font-weight: 600;
    font-family: 'Inter Display';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/inter_display_bold.woff2') format('woff2');
}

@font-face {
    font-weight: 700;
    font-family: 'Inter Display';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/inter_display_semibold.woff2') format('woff2');
}
